* {
    font-family: "Open Sans", "Arial", sans-serif;
}

div p {
    color: blue;
}

#higher-parent > p {
    text-transform: uppercase;
}

div + p {
    color: red;
}

div ~ p {
    text-decoration: underline;
}
