



    <body>
                                    <h1>Farben</h1>
        <h3>RGB - Rot, Grün, Blau</h3>
        <p style="color: rgb(255, 0, 0)">Rot</p>
        <p style="color: rgb(0, 255, 0)">Grün</p>
        <p style="color: rgb(0, 0, 255)">Blau</p>
        <p style="color: rgb(100, 50, 130)">Welche Farbe bin ich?</p>
        
        <h3>RGBA - Rot, Grün, Blau, Alpha</h3>
        <p style="color: rgba(255, 0, 0, 0.5)">Rot</p>
        <p style="color: rgba(0, 255, 0, 0.5)">Grün</p>
        <p style="color: rgba(0, 0, 255, 0.5)">Blau</p>
        <p style="color: rgba(100, 50, 130, 0.5)">Welche Farbe bin ich?</p>
        
        <h3>HEX - Hexadezimal</h3>
        <p style="color: #ff0000">Rot</p>
        <p style="color: #00ff00">Grün</p>
        <p style="color: #0000ff">Blau</p>
        <h3>Weitere Beispiele</h3>
        <p style="color: #e67e22">Orange HEX</p>
        <p style="color: rgb(230, 126, 34)">Orange RGB</p>
        
        <h3>Graustufen</h3>
        <p style="color: rgb(0, 0, 0)">Grau</p>
        <p style="color: rgb(60, 60, 60)">Grau</p>
        <p style="color: rgb(120, 120, 120)">Grau</p>
        <p style="color: #000000">Grau</p>
        <p style="color: #444444">Grau</p>
        <p style="color: #888888">Grau</p>
        <h3>HSL Methode</h3>
        <p style="color: hsl(0, 100%, 50%)">Hue</p>
        <p style="color: hsl(0, 0, 0)">Saturation</p>
        <p style="color: hsl(0, 0, 0)">Lightness</p>
    </body>






                            <title>Hintergründe</title>
        <style>
            body{
                background-image: url(images/gradient.png);
                background-repeat: no-repeat;
                background-position: top right;
                background-attachment: fixed;
            }
            h3{
                background-color: rgba(0,0,255,0.5);
            }
            p{
                background-color: #00ff00;
            }
        </style>




                                <title>Borders</title>
        <style>
            p.solid {
                border-style: solid;
                border-width: 2px;
                border-color: blue;
                border-radius: 10px;
            }
            p.dotted {
                border-style: dotted;
                border-width: thick;
                border-color: rgb(255,0,0)
            }
            p.dashed {
                border-style: dashed;
                border-width: 4px;
            }
            p.inset {
                border-style: inset;
                border-width: thin;
            }
            p.outset {
                border-style: outset;
                border-width: medium;
            }
            p.mix{
                border-style: dotted solid dotted solid
            }
            p.shortcut{
                border: 2px solid red;
            }
        </style>










                                <title>Margins</title>
        <style>
            div{
                background-color: darkblue;
                color: white;
            }
            p{
                display: inline-block;
                border: 2px solid aqua;
                margin: 10px 20px 5px 15px;
                
            }
        </style>









                                <title>Padding</title>
        <style>
            div{
                background-color: darkblue;
                color: white;
            }
            p{
                display: inline-block;
                border: 2px solid aqua;
                margin: 20px;
                padding: 10px;
                
            }
        </style>








                            <title>Margins Box model</title>
        <style>
            div {
                background-color: darkblue;
                color: white;
                display: inline-block;
            }
            p.box {
                display: inline-block;
                border: 5px solid aqua;
                margin: 10px;
                padding: 40px;
                width: 290px;
            }
            h3 {
               margin-bottom: 0px; 
            }
            p {
                margin: 20px;
            }
        </style>




                                <title>Display</title>
        <style>
            div {
                display: block;
            }
            span {
                display: inline;
            }
            li.nav {
                display: inline;
            }
            h1.none {
                display: none;
            }
            h1.hidden {
                visibility: hidden;
            }
        </style>
        
        
        
        
                                <title>Inline-block</title>
        <style>
            .floating {
                display: inline-block;
                 width: 150px;
                height: 100px;
                margin: 10px;
                border: 3px solid red;
            }
            .folgt {
                border: 3px solid red;
            }
        </style>




                                    <title>Max-width</title>
        <style>
            div.festebreite {
                width: 500px;
                margin: auto;
                border: 3px solid red;
            }
            div.flexiblebreite {
                max-width: 500px;
                margin: auto;
                border: 3px solid red;
            }
        </style>





                                    <title>Position</title>
        <style>
            .relative {
                position: relative;
                left: 50px;
                border: 3px solid red;
            }
            .fixed {
                position: fixed;
                right: 0px;
                top: 0px;
                border: 3px solid red;
                padding: 10px;
            }
            .rel {
                position: relative;
                width: 500px;
                height: 250px;
                border: 3px solid red;
            }
            .absolute {
                border: 3px solid red;
                width: 150px;
                height: 100px;
                position: absolute;
                right: 20px;
                bottom: 20px;
            }
            .sticky {
                position: -wbkit-stcky; /*Safari*/
                position: sticky;
                border: 3px solid red;
                padding: 10px;
                top: 0px;
            }
            img {
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: -1;
            }
        </style>




                                <title>Overflow 'text'</title>
        <style>
            div {
                width: 200px;
                height: 100px;
                border: 3px solid red;
                
            }
            .visible {
                overflow: visible;
            }
            .hidden {
                overflow: hidden;
            }
            .scroll {
                overflow: scroll;
            }
            .auto {
                overflow: auto;
            }
        </style>










                            <title>Float und Clear</title>
        <style>
            .textimg {
                width: 600px;
                height: 300px;
                border: 3px solid red;
            }
            img {
                max-width: 250px;
                float: right;
            }
            .container {
                width: 600px;
                height: 600px;
                border: 3px solid red;
            }
            .sq {
                width: 50px;
                height: 50px;
                border: 1px solid red;
                margin: 15px;
            }
            #sqred {
                background-color: red;
                float: left;
            }
            #sqblue {
                background-color: blue;
                float: left;
            }
            #sqgreen {
                background-color: green;
                float: left;
                clear: left;
            }
            #sqyellow {
                background-color: yellow;
                float: left;
            }
            #sqblack {
                background-color: black;
                float: left;
            }
            #sqgray {
                background-color: gray;
                float: none;
                clear: left;
            }
        </style>









                        <title>Links mit Style</title>
        <style>
            a.mitstyle:link {
                color: green;
                text-decoration: overline;
            }
            a.mitstyle:visited {
                color: red;
                text-decoration: overline;
            }
            a.mitstyle:hover {
                color: yellow;
                text-decoration: overline;
            }
            a.mitstyle:active {
                color: blue;
                text-decoration: overline;
            }
            a.button:link, a.button:visited {
                background-color: blue;
                color: yellow;
                padding: 14px 25px;
                display: inline-block;
                text-decoration: none;
            }
            a.button:hover, a.butten:active {
                background-color: darkblue;
            }
        </style>














                            <title>Align - Ausrichtung</title>
        <style>
            div {
                border: 3px solid red;
            }
            #divhoricent {
                width: 400px;
                margin: auto;
            }
            .textcenter {
                text-align: center;
            }
            .erde {
                width: 400px;
            }
            .imgcenter {
                display: block;
                margin: auto;
            }
            .right {
                /*
                position: absolute;
                right: 0px;
                */
                float: right;
            }
            #divright {
                width: 300px;
                padding: 10px;
            }
            .clearright {
                clear: right;
            }
            .clearfix {
                overflow: auto;
            }
            #verttext {
                padding: 80px 0px;
                
            }
            .lineheight {
                line-height: 200px;
            }
            .lineheight p {
                line-height: 1.5;
            }
        </style>









                                <title>Textformatierung</title>
        <style>
            .color {
                color: darkblue;
            }
            .left {
                text-align: left;
            }
            .center {
                text-align: center;
            }
            .right {
                text-align: right;
            }
            .justified {
                text-align: justify;
            }
            .deco {
                text-decoration: underline;
            }
            .transform {
                text-transform: uppercase
            }
            .indent {
                text-indent: 10px;
            }
            .spacing {
                letter-spacing: 5px;
                word-spacing: 10px;
            }
            .linheight {
                line-height: 30px;
            }
            .shadow {
                text-shadow: 1px 1px red;
            }
        </style>








    <head>
                        <title>Fonts / Schrigtarten</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
        <style>
            body {
                font-size: 100%;
            }
            .mitstyle {
                font-family: Saira Stencil;
                font-style: normal;
                font-size: 1em;
                
                /*font-weight: bold;*/
                font-weight: 600;
                
            }
        </style>
    </head>

















                            <title>Listen mit Style</title>
        <style>
            ol.roman {
                list-style-type: upper-roman;
            }
            ul.square {
                list-style-type: square;
            }
            ul.farbe{
                background-color: gray;
            }
            ul.farbe li {
                background-color: lightgray;
            }
            ul.image {
                list-style-image: url(images/item-image.png)
            }
            ol.ohnestyle {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }
            ol.position {
                list-style-position: inside;
            }
        </style>






                            <title>Tabellen mit Style</title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            div {
                overflow-x: auto;
            }
            table, th, td {
                border-collapse: collapse;
            }
            table {
                width: 100%;
            }
            tr:hover {
                background-color: #f5f5f5;
            }
            th {
                height: 50px;
                text-align: left;
                background-color: #f39c12;
                color: white;
            }
            th, td {
                padding: 15px;
                border-bottom: 1px solid #ddd;
            }
        </style>












    <head>
                                <title>Icons</title>
        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css" href="icons.css">
        
        <!-- Icons -->
       
        <link rel="stylesheet" href="https://googleapis.com" />
        
        <!-- loads the entire Variable Font -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=favorite,home,search,settings" rel="stylesheet" />
    </head>

<div style="font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;"></div>

<div style="font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;"></div>

<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=favorite,home,search,settings" rel="stylesheet" />










    <head>
                            <title>Combinators</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="combinators.css">
    </head>


* {
    font-family: "Open Sans", "Arial", sans-serif;
}

div p {
    color: blue;
}

#higher-parent > p {
    text-transform: uppercase;
}

div + p {
    color: red;
}

div ~ p {
    text-decoration: underline;
}










<head>
                                    <title>Pseudoklassen</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="pseudoklassen.css">
    </head>


* {
    font-family: "Open Sans", "Arial", sans-serif;
    text-align: center;
}
.container {
    width: 500px;
    margin: auto;
}
p {
    color: #7f8c8d;
    letter-spacing: 0.5px;
}
p:first-child {
    color: black;
}
p:last-of-type {
    text-align: left;
}
a:link {
    display: block;
    padding: 20px;
    text-align: center;
    background-color: #7f8c8d;
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover {
    background-color: #bdc3c7;
}
a:active {
    color: black;
}

input[type=text] {
    font-size: 20px;
    padding: 10px;
    width: 250px;
    border: 1px solid #bdc3c7;
}

input[type=text]:focus {
    background-color: #bdc3c7;
}












    <head>
                                <title>Pseudoelemente</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="pseudoelemente.css">
    </head>


* {
    font-family: "Open Sans", "Arial", sans-serif;
}
h1::before {
    content: "VORNE - ";
}
h1::after {
    content: " - HINTEN";
}
p::first-letter {
    font-size: 24px;
    padding: 0px 2px;
}
p::first-line {
    font-style: italic;
}


























